<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Playlist Options-->
    <add key="Create plain xspf playlist" value="true"/>
    <add key="Create m3u8 (absolute path) playlist" value ="true"/>
    <add key="Create m3u8 (local path) playlist" value ="false"/>
    <add key="Create m3u8 (url) playlist" value ="false"/>
    <add key="Create VLC playlist" value="false"/>
    <add key="Create AIMP playlist" value="false"/>

    <!--Output Audio File-->
    <add key="Output file extension" value="mp3"/>
    <add key="Additional ffmpeg commands" value=""/>
    
    <!--Metadata Filler Priority
    Smaller values are run first. Leave value empty to disable a filler.   
    -->
    <add key="'Provided' filler" value="0"/>
    <add key="'From keyword' filler" value="1"/>
    <add key="'Soundtrack parenthesis' filler" value="2"/>
    <add key="'Soundtrack' filler" value="3"/>
    <add key="'Music keyword' filler" value="4"/>

  </appSettings>
</configuration>