<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Playlist Options-->
    <add key="Create plain xspf playlist" value="true"/>
    <add key="Create VLC playlist" value="false"/>
    <add key="Create AIMP playlist" value="false"/>

    <!--Output Audio File-->
    <add key="Output file extension" value="mp3"/>
    <add key="Additional ffmpeg commands" value=""/>
    
  </appSettings>
</configuration>